%section.text-center.section-padding
  .container
    .row
      .col-md-12.text-right.navicon
        %a#nav-toggle.nav_slide_button{:href => "#"}
          %span

%section#portfolio.portfolio.text-center.section-padding
  .container
    .row
      #portfolioSlider
        %ul.slides
          %li
            .col-md-4.wp4
              .overlay-effect.effects.clearfix
                .img
                  %img{:alt => "Portfolio Item", :src => "/assets/portfolio-01.jpg"}/
                  .overlay
                    %a.expand{:href => recent_url}
                      %i.fa.fa-clock-o
                      = succeed "Recent media" do
                        %br/
                    %a.close-overlay.hidden x
              %h2 Recent Media
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
            .col-md-4.wp4.delay-05s
              .overlay-effect.effects.clearfix
                .img
                  %img{:alt => "Portfolio Item", :src => "/assets/portfolio-02.jpg"}/
                  .overlay
                    %a.expand{:href => feed_url}
                      %i.fa.fa-instagram
                      = succeed "User Feed" do
                        %br/
                    %a.close-overlay.hidden x
              %h2 User Feed
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
            .col-md-4.wp4.delay-1s
              .overlay-effect.effects.clearfix
                .img
                  %img{:alt => "Portfolio Item", :src => "/assets/portfolio-03.jpg"}/
                  .overlay
                    %a.expand{:href => "#"}
                      %i.fa.fa-search
                      = succeed "Media Search" do
                        %br/
                    %a.close-overlay.hidden x
              %h2 Media Search
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
          %li
            .col-md-4.wp4
              .overlay-effect.effects.clearfix
                .img
                  %img{:alt => "Portfolio Item", :src => "/assets/portfolio-01.jpg"}/
                  .overlay
                    %a.expand{:href => "#"}
                      %i.fa.fa-search
                      = succeed "View" do
                        %br/
                    %a.close-overlay.hidden x
              %h2 Creative Minds
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
            .col-md-4.wp4.delay-05s
              .overlay-effect.effects.clearfix
                .img
                  %img{:alt => "Portfolio Item", :src => "/assets/portfolio-02.jpg"}/
                  .overlay
                    %a.expand{:href => "#"}
                      %i.fa.fa-search
                      = succeed "View" do
                        %br/
                    %a.close-overlay.hidden x
              %h2 Creative Hearts
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.
            .col-md-4.wp4.delay-1s
              .overlay-effect.effects.clearfix
                .img
                  %img{:alt => "Portfolio Item", :src => "/assets/portfolio-03.jpg"}/
                  .overlay
                    %a.expand{:href => "#"}
                      %i.fa.fa-search
                      = succeed "View" do
                        %br/
                    %a.close-overlay.hidden x
              %h2 Creative Ideas
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.